$color-primary: #b197fc;
$color-primary-light-1: #f3f0ff;
$color-primary-light-2: #e5dbff;
$color-primary-dark: #7048e8;

$color-text: #495057;
$color-text-light: #868e96;
$color-text-dark: #212529;

$color-black: #000;
